body {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: gray;
    border-radius: 16px;
    padding: 16px;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: black;
    color: white;
    border-radius: 16px;
    margin-bottom: 16px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.keyboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.numbers, .operators {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.button {
    background-color: lightgray;
    border-radius: 8px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}