body {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: gray;
    border-radius: 16px;
    padding: 16px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: black;
    color: white;
    border-radius: 16px;
    margin-bottom: 16px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.keyboard {
    height: 100vh;
    display: flex;
    flex-grow: 1;
    gap: 24px;
}

.numbers, .operators, .special-operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.button {
    background-color: lightgray;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}