body {
    background-color: antiquewhite;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#container {
    background-color: gray;
    border: 2px solid black;
    border-radius: 16px;
    padding: 32px;
    width: 370px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.display {
    box-sizing: border-box;
    background-color: black;
    color: white;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 16px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.keyboard {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.numbers, .operators {
    padding: 0;
    margin: 0;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.special-operators {
    display: flex;
    justify-content: baseline;
    gap: 8px;
}

.button {
    box-sizing: border-box;
    background-color: lightgray;
    border: 2px, solid, black;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: darkgray;
}

.pressed {
    background-color: darkgray;
}